body {
  background-color: #ffc8dd;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  min-height: 300px;
  background-color: #bde0fe;
  border-radius: 24px;
  border: 10px solid #8cc7fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

.affirmation {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
  color: #054c63;
}

.plant-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pot {
  width: 60px;
  height: 40px;
  background-color: #d2691e;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.eyes {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.eye {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

@keyframes blink {
  0%,
  80%,
  100% {
    transform: scaleY(1);
  }
  85%,
  90% {
    transform: scaleY(0.1);
  }
}

.eye {
  animation: blink 4s infinite;
}

.smile {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.stem {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.first-leaf {
  position: absolute;
  top: -55px;
  left: 20px;
  width: 25px;
  height: 12px;
  background-color: #00b894;
  border-radius: 50% / 50%;

  transform: translateX(-50%) rotate(0deg);
  transform-origin: right center;

  animation: leaf-sway-left 2s ease-in-out infinite alternate;
}

.second-leaf {
  position: absolute;
  top: -35px;
  left: 48px;
  width: 25px;
  height: 12px;
  background-color: #00b894;
  border-radius: 50% / 50%;

  transform: translateX(-50%) rotate(0deg);
  transform-origin: left center;

  animation: leaf-sway-right 2s ease-in-out infinite alternate;
}

@keyframes leaf-sway-right {
  0% {
    transform: translateX(-50%) rotate(10deg);
  }
  100% {
    transform: translateX(-50%) rotate(-10deg);
  }
}

@keyframes leaf-sway-left {
  0% {
    transform: translateX(-50%) rotate(-10deg);
  }
  100% {
    transform: translateX(-50%) rotate(10deg);
  }
}
