.affirmation {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
  color: #054c63;

  margin-top: 120px;
  text-align: center;
  word-break: break-word;
}

.affirmation span {
  display: inline-block;
  font-family: "Fredoka", sans-serif;
  color: #054c63;
  transform-origin: bottom center;
}

.affirmation.hidden {
  opacity: 0;
  transform: translateY(-20px);
}
