.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -5;
}

.bg-first-leaf,
.bg-second-leaf {
  position: absolute;
  background-color: #00b894;
  border-radius: 50% / 50%;
  cursor: pointer;
  z-index: 1;
  opacity: 0.8;
  transform-origin: center center;
  animation:
    bg-fall 5s linear infinite,
    bg-spin 2s linear infinite,
    bg-sway 2.5s ease-in-out infinite;
}

@keyframes bg-sway {
  0% {
    transform: translateX(-100%) rotate(-15deg);
  }
  50% {
    transform: translateX(100%) rotate(15deg);
  }
  100% {
    transform: translateX(-100%) rotate(-5deg);
  }
}

@keyframes bg-fall {
  0% {
    top: -30px;
    left: random(100%);
    transform: translateX(random(-150px, 150px));
  }
  100% {
    top: 100%;
    left: random(100%);
    transform: translateX(random(-300px, 300px));
  }
}

@keyframes bg-spin {
  0% {
    transform: rotate(random(-30deg, 30deg));
  }
  100% {
    transform: rotate(random(-30deg, 30deg));
  }
}

.bg-first-leaf {
  width: 25px;
  height: 12px;
  top: -55px;
  left: 10%;
  animation: bg-leaf-sway-left 5s ease-in-out infinite alternate;
}

.bg-second-leaf {
  width: 25px;
  height: 12px;
  top: -35px;
  left: 30%;
  animation: bg-leaf-sway-right 5s ease-in-out infinite alternate;
}

.bg-first-leaf,
.bg-second-leaf {
  animation:
    bg-fall 10s linear infinite,
    bg-spin 5s linear infinite,
    bg-sway 3s ease-in-out infinite;
}
