.grass {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #3cb371;
  z-index: 1;
}

.grass::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  transform: scaleY(-1);
  background:
    linear-gradient(60deg, transparent 75%, #3cb371 75%) 0 0 / 20px 40px,
    linear-gradient(-60deg, transparent 75%, #3cb371 75%) 0 0 / 20px 40px;
  background-repeat: repeat-x;
}

.stem-group {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  animation: stem-sway 4s ease-in-out infinite;
}

@keyframes stem-sway {
  0% {
    transform: translateX(-50%) rotate(-4deg);
  }
  50% {
    transform: translateX(-50%) rotate(4deg);
  }
  100% {
    transform: translateX(-50%) rotate(-4deg);
  }
}

.grass-stem-group {
  position: fixed;
  bottom: 70px;
  left: 20%;
  transform: translateX(-50%);
  z-index: 2;
  transform-origin: bottom center;
  animation: stem-sway 4s ease-in-out infinite;
}

.grass-stem {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.grass-first-leaf {
  position: absolute;
  top: -35px;
  left: -9px;
  width: 25px;
  height: 12px;
  background-color: #00b894;
  border-radius: 50% / 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: right center;
  animation: grass-leaf-sway-left 2.5s ease-in-out infinite alternate;
}

.grass-second-leaf {
  position: absolute;
  top: -35px;
  left: 19px;
  width: 25px;
  height: 12px;
  background-color: #00b894;
  border-radius: 50% / 50%;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: left center;
  animation: grass-leaf-sway-right 2s ease-in-out infinite alternate;
}

@keyframes grass-leaf-sway-right {
  0% {
    transform: translateX(-50%) rotate(10deg);
  }
  100% {
    transform: translateX(-50%) rotate(-10deg);
  }
}

@keyframes grass-leaf-sway-left {
  0% {
    transform: translateX(-50%) rotate(-10deg);
  }
  100% {
    transform: translateX(-50%) rotate(10deg);
  }
}

.flower {
  position: absolute;
  top: -53px;
  left: -4px;
  transform: translateX(-50%) rotate(20deg);
  width: 30px;
  height: 30px;
  z-index: 3;
}

.petal {
  position: absolute;
  width: 18px;
  height: 22px;
  top: -35px;
  left: -3px;
  background-color: #ff6f91;
  border-radius: 50% 50% 50% 50%;
  transform-origin: bottom center;
}

.petal1 {
  transform: rotate(0deg) translateY(-5px);
}
.petal2 {
  transform: rotate(120deg) translateY(-5px);
}
.petal3 {
  transform: rotate(240deg) translateY(-5px);
}

.petal4 {
  transform: rotate(60deg) translateY(-5px);
  background-color: #ff85b3;
}
.petal5 {
  transform: rotate(180deg) translateY(-5px);
  background-color: #ff85b3;
}
.petal6 {
  transform: rotate(300deg) translateY(-5px);
  background-color: #ff85b3;
}

.center {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 14px;
  height: 14px;
  background-color: #ffd93d;
  border-radius: 50%;
}
