body {
  background-color: #ffc8dd;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

.container {
  width: 300px;
  min-height: 300px;
  background-color: #bde0fe;
  border-radius: 24px;
  border: 10px solid #8cc7fe;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
